<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" type="text/css">
     <link rel="stylesheet" href="/save.css" type="text/css">
    <title>Contacts app</title>
</head>
<body>

    <header>

    </header>

    {{{body}}}

    <footer></footer>

<script src="https://kit.fontawesome.com/0bb31e3b06.js" crossorigin="anonymous"></script>
</body>
</html>

